body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    width: 50%;
    margin: 0 auto;
 
}

nav ul{
    list-style: none;
    display: flex;
    

}

nav ul li{
    padding: 10px 15px;
    background-color: #000;
    margin-left: 10px;
    border-radius: 10px;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

nav ul li:hover{
    background-color: blue;
    cursor: pointer;
}

.active{
    background-color: chartreuse;
}


section{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card{
    width: 32%;
    background: #fff;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background: #fff;
}

.img{
    text-align: center;
}

.img img{
    width: 50%;
   
}

.card h2{
    font-weight: 300;
    color: rgb(124, 122, 122);
    text-transform: uppercase;
    text-align: center;
}